<article>
  <a href="/dashboard"> &larr; Dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <label for="post-title">Edit Title</label>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <br>
    <div>

      <label for="post-contents">Edit Contents</label>
      <textarea name="post-contents">{{post.contents}}</textarea>     
    </div>
    <button type="submit">Save Comment</button>
    <button type="button" class="delete-post-btn">Delete Comment</button>
  </form>
</article>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
