<form class="login-form">
    <div>
        <label for="username-login">Username:</label>
        <input type="text" id="username-login" />
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
    </div>
    <div class="wrapper">
        <button class="btn btn-primary btn-lg" type="submit">Login!</button>
    </div>
</form>

<br>
    <div class="wrapper">
       <button onclick="window.location.href='/signup'" type="submit" class="btn btn-success btn-lg">Sign Up!</button>
    </div>

<script src="/javascript/login.js"></script>    <!-- Required for user authentication/logging in -->
