* {
  box-sizing: border-box;
}

a {
  color: #276cc0;
  font-weight: bold;
  transition: color .05s;
}

a:hover {
  color: #1e60b1;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  color: #3e3d3d;
}

button {
  background-color: #1d65bd;
  border: 0;
  padding: 2%;
  color: rgb(234, 229, 229);
  font-weight: bold;
  transition: background-color .05s;
  border-radius: 15px;
}

button:hover {
  background-color: #2f7bd9;
}

.post-list {
  margin: 5;
  padding: 5;
}

textarea, input {
  padding: .8%;
  border-radius: 8px;
  border: 1px solid #afaeae;
}

textarea:focus, input:focus {
  border: 1px solid #2c77d3;
}

textarea {
  width: 100%;
  min-height: 100px;
}

form > div {
  margin-bottom: 3%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  margin-top: 3%;
}

header {
  margin-top: 3%;
  border-bottom: 1px solid #dfdcdc;
  flex-wrap: wrap;
  display: flex;
  padding: 0 2%;
  justify-content: space-between;
}

nav {
  font-size: 1.2rem;
}

main {
  flex: 1;
  padding: 3% 5%;
}

.btn-no-style {
  font-size: 100%;
  font-weight: bold;
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
  color: #2566b6;
  transition: color .05s;
}

.btn-no-style:hover {
  background: none;
  color: #2a73cc;
}

.deletepost-btn {
  background-color: #e41616;
}

.deletepost-btn:hover {
  background-color: #c85d42;
}

.post {
  margin-top: 3%;
  margin-bottom: 3%;
  line-height: 140%;  
}

.post .title {
  color: #585858;
}

.post .title span {
  font-style: bold;
  font-size: 95%;
  color: #616060;
}

.edit-link {
  display: block;
  margin: 1% 0 2% 0;
}

.upvote-btn {
  background-color: #1c9012;
  transition: background-color .05s;
}

.upvote-btn:hover {
  background-color: #15700d;
}

.comment-form {
  margin-bottom: 4%;
}

.comment {
  padding: 2%;
  margin-bottom: 2%;
}

.comment:nth-child(odd) {
  background-color: rgba(97, 84, 237, 0.25);
}

.comment .meta {
  font-size: 95%;
  margin-bottom: .4%;
}

.border {
  background-color: rgba(96, 84, 231, 0.15);
}

.new-post-form textarea,input,btn {
  width: 100%;
}

.editpost-form {
  margin-bottom: 4%;
}

footer {
  position: relative;
  margin-top: 4%;
  border-top: 1px solid #e6dede;
}

@media screen and  (max-width: 575px) {
  header {
    justify-content: center;
  }
  footer {
    text-align: center;
  }
}